html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}


#Services,
#Work {
  height: 100vh;
}

#Contact {
  height: 140vh;
}

.footer {
  height: 14vh;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
 #services-cont {
   width: 100vw;

 }
 #slider{
  height: 80vh;
 }
/* Adjusting #Services and #Work for mobile devices */
@include mobile {

  #Services,
  #Work {
    height: 30vh;
    // Change the height to 100vh for better visibility on smaller screens
  }
    #services-cont {
      width: 100vw;
    }
}